/* CSS BY Gwynn Spragg*/

/* IMPORTED FONTS */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kavoon&display=swap');

/* CSS RESET */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ROOT VARIABLES */
 :root{
    --Teal :    #4CA7C0;
    --Purple:   #484FB7;
    --Lavender: #6B8FE7;
    --Yellow:   #E9BB57;
    --Pink:     #D9526F;
    --Dark-gray:#1E1E1E; 
    --White:    #ffffff; 
}

/* GLOBAL STYLES (mobile first/small) */
 body{
    max-width: 450px;
    font-family: inter;
    background-color: var(--Lavender);
    margin: auto;
    padding: auto;
}

h1{
    font-size: 3em;
    padding-bottom: 10px;
}

h1, h2{
    font-family: kavoon;
    color: var(--White);
}

h2{
    font-size: 2em;
}

section h2,section h3{
    margin-left: 20px;
    
}

h3{
    font-size: 1.5em;
    font-weight: bold;
    color: var(--Yellow);
    background-color: var(--Purple);
    padding-top: 5px;
    margin-bottom: 0;
}

h4{
    font-size: 1.15em;
    color: var(--Purple);
    font-weight: bolder;
    margin-bottom: 10px;
}
section{
    background-color: var(--Purple);
    padding-bottom: 20px;
}

section section{
    background-color: var(--White);
    margin: 20px;
    padding: 30px;
    border-radius: 15px;
}

/* header */
header{
    background-color: var(--Purple);
    color: var(--White);
    text-align: center;
    margin: auto;
    padding: 30px 0px 5px 0px;
}

header small{
    font-style: italic;
    margin-bottom: 1rem;
}


/* nav */
nav {
    background-color: var(--Yellow);
    color: var(--Purple);  
    margin: 50px 0 1em;
    padding: 20px;
}

li {
    background-color: var(--White);
    margin-bottom: 10px;
    padding: 1em;
}

li a{
    text-decoration: none;
    font-weight: bolder;
}

nav h2{
    font-size: 1.5em;
    color: var(--Dark-gray);
    font-family: inter;
    font-weight:700;
    font-style: italic;
    padding-bottom: 10px;
}

/* our services section */
section img{
    margin-bottom: 20px;
}

/* why choose us section */
#why_us{
    background-color: var(--Pink);
    padding: 20px 15px 5px;
}

#why_us h2{
    padding-bottom: 10px;
}

#why_us li{
    border-radius: 15px;
    text-align: center;
    font-weight: bolder;
    padding: 40px;
} 

#grid_container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    row-gap: 5px;
    column-gap: 15px;
}

#teal_item{
    background-color: var(--Teal);
}

#lavender_item{
    background-color: var(--Lavender);
}

#yellow_item{
    background-color: var(--Yellow);
}

#white_item{
    background-color: var(--White);
}

/* pricing section */

#pricing h2{
    padding-top: 15px;
}

#pricing h3{
    padding-bottom: 10px;
}

table{
    background-color: var(--White);
    padding: 30px;
    justify-self: center;
}

thead{
    background-color: var(--Yellow);
    color: var(--Dark-gray);
    font-weight: bolder;
}

tr th{
    padding: 20px;
    border: 1px solid var(--Yellow);
}

tr td{
    font-weight: 500;
    padding: 20px;
    border: 1px solid var(--Yellow);
}

/* scheduling section */
#scheduling{
    background-color: var(--Pink);
    color: var(--White);
    text-align: center;
}

#scheduling p{
    text-align: left;
    margin: 10px;
}

#scheduling a{
    background-color: var(--White);
    color: var(--Dark-gray);
    color: var(--Dark-gray);
    text-decoration: none;
}

/* footer */
footer{
    color: var(--White);
    background-color: var(--Purple);
}  