/* CSS BY Gwynn Spragg*/

/* IMPORTED FONTS */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kavoon&display=swap');

/* CSS RESET */
*{
    padding: 0;
    margin: 0;
    font-weight: normal;
}

ul{
    list-style: none;
}

img{
    max-width: 100%;
    height: auto;
}
/* ROOT VARIABLES */
:root{
    --Teal :    #4CA7C0;
    --Purple:   #484FB7;
    --Lavender: #6B8FE7;
    --Yellow:   #E9BB57;
    --Pink:     #D9526F;
    --Dark-gray:#1E1E1E; 
    --White:    #ffffff; 
}

/* GLOBAL STYLES (mobile first/small) */
body{
    max-width: 450px;
    font-family: inter;
    background-color: var(--Lavender);

}

nav {
    background-color: var(--Yellow);
    color: var(--Purple);
   
}

div{
    background-color: var(--White);
    margin: 20px;
}

h1, h2{
    font-family: kavoon;
    color: var(--White);
}


nav h2{
    font-size: 1.5em;
}

h2{
    font-size: 2em;
}

h3{
    font-size: 1.5em;
    color: var(--Yellow);
    background-color: var(--Purple);
}

h4{
    font-size: 1.15em;
    color: var(--Purple);
}
section{
    background-color: var(--Purple);
    padding: 5px;
}

#why_us{
    background-color: var(--Pink);
}

thead{
    background-color: var(--Yellow);
    color: var(--Dark-gray);
}

#scheduling{
    background-color: var(--Pink);
}

#scheduling a{
    background-color: var(--White);
    color: var(--Dark-gray);
}

footer{
    color: var(--White);
    background-color: var(--Purple);
}